* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* outline: 3px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
    background-color: black;
}

.time-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 10px 20px;
    font-weight: 800;
    color: red;
}

#time {
    font-size: 1.6em;
    margin: 5px;
    font-weight: 900;
    color: red;
}

#start-button {
    width: 15%;
    position: relative;
    left: 35%;
    top: 30%;
}

#start-button-img {
    display: inline-block;
    width: 100%;
}

.frame {
    background-color: white;
    height: 80vh;
    width: 90vw;
    position: relative;
    background-image: url("./../images/game-background-two-mountains.jpg");
    background-size: contain;
    opacity: 0.7;
}

.player {
    position: absolute;
    text-align: center;
    bottom:0;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.player img {
    width: 100%;
    height: 100%;
}

.frameObjectsLevel1 {
    position: absolute;
    outline: none;
    background-color: brown;
    opacity: 0.9;
}

.fatalObjectsLevel1 {
    position: absolute;
    outline: none;
    background-color: blue;
}

.foodObjectsLevel1 {
    position: absolute;
    width: 4%;
    height: 4%;
    background-image: url("./../images/apple.png");
 
}

.lastFoodElement {
    position: absolute;
    width: 5%;
    height: 5%;
    background-color: transparent;
    align-self: flex-end;
}

.new-frame {
    /* background-image: url("./../images/game-background-two-mountains.jpg"); */
    background-size: contain;
    opacity: 0.8;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 1px red; */
    background-color: lightgreen;
}

h2 {
    font-size: 2em;
}

h2 span {
    color: red;
    font-size: 1em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
    text-decoration: underline;
    font-weight: 900;
}

h4.ranking-text {
    font-size: 2em;
    color: blue;
}

table {
    width: 30%;
    text-align:left;
}

td {
    margin: 5px 0px;
    font-size: 1.5em;
    font-weight: 800;
}

.play-again-buttons-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */
    width: 30%;
}

.play-again-buttons-container button {
    margin: 10px; 
    font-size: 2em;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 10px;
}

