* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* outline: 3px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px red solid;
}

.time-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 10px 20px;
}

#time {
    font-size: 1.5em;
    margin: 5px;
}

#start-button {
    width: 15%;
    position: relative;
    left: 35%;
    top: 30%;

}

#start-button-img {
    display: inline-block;
    width: 100%;
}

.frame {
    /* outline: 2px red solid; */
    height: 80vh;
    width: 90vw;
    position: relative;
    background-image: url("./../images/game-background-two-mountains.jpg");
    background-size: contain;
    opacity: 0.7;
}

.player {
    position: absolute;
    text-align: center;
    bottom:0;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.player img {
    width: 100%;
    height: 100%;
}

.frameObjectsLevel1 {
    position: absolute;
    outline: none;
    background-color: brown;
    opacity: 0.9;
}

.fatalObjectsLevel1 {
    position: absolute;
    outline: none;
    background-color: blue;
}

.foodObjectsLevel1 {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: darkorange;
 
}

.lastFoodElement {
    position: absolute;
    width: 3%;
    height: 5%;
    background-color: pink;
}

.new-frame {
    background-image: url("./../images/game-background-two-mountains.jpg");
    background-size: contain;
    opacity: 0.7;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px red;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

ol {
    margin: 10px auto;
    font-size: 2em;
}

li {
    font-size: 1em;
    margin: 20px;
}

table {
    width: 30%;
    text-align:left;
}

td {
    margin: 5px 0px;
    font-size: 1.5em;
    font-weight: 800;
}